/* ___HERO___ */
.section--portfolio {
  padding: 4.8rem 0;
}
.section__title {
  text-transform: uppercase;
  letter-spacing: 0.48rem;
  font-size: 3.2rem;
}
/* ___FOR EVERY PROJECT___ */
.project {
  box-shadow: 0 0 10px var(--gray2);
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 0;
  display: block;
  max-width: 700px;
  width: 90%;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 16 / 9; /* mantiene proporción visual */
}
.project__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
  display: block;
  transition: transform ease 0.3s;
  user-select: none;
}


/*============= SLIDE-IN PROJECT IMAGES ANIMATION =============*/

.slide-from-left {
  transform: translate(-100%);
}

.slide-from-right {
  transform: translate(100%);
}

.slide-from-top {
  transform: translate(0, -100%);
}

.slide-from-bottom {
  transform: translate(0, 100%);
}

.current-visible {
  transform: translate(0);
  z-index: 1;
}