/* CSS Code Distribution
  ___Attributes Distribution___
  Colors
  Dimensions
  Fonts
  Animations
  Transformations

  ___Selectors Distribution___
  class
  pseudo::elements
  pseudo:selectors
  other
*/

:root {
  /* Color Variables */
  --primary: rgb(0, 189, 214);
  --primary-dark: rgb(0, 176, 199);
  --secondary: #fe9143;
  --secondary-dark: #fe8834;
  --white: #f5f9fa;
  --white2: #ebf3f5;
  --gray: #e1e4e5;
  --gray2: #c0c6c9;
  --gray3: #4b4c4d;
  --black: #323333;
  --black2: #2a2b2b;

  /* Global Attributes */
  background: linear-gradient(var(--white), var(--white2));
  font-family: Montserrat, sans-serif;
  font-size: 10px;
}

.layout {
  /* Color */
  color: var(--gray3);
  /* Dimensions */
  /* Font */
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  /* Animations */
  /* Transformations */
  
}
